<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="myNews.myNews">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="myNews.view.activitiesAndFragment.SearchActivity"></activity>
        <activity android:name="myNews.view.activitiesAndFragment.SetNotificationsActivity"></activity>
        <activity android:name="myNews.view.activitiesAndFragment.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <!-- internet permission required as images are loaded via Glide from an internet url -->
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>